/* @media(max-width:1220px) {

.baa {
        width: 1000px;
    }

    .broop {
        width: 1100px;
    }
}
@media(max-width:1024px) {

    .baa{
        width: 90%;
    }

    .broop {
        width: 90%;
    }
} */