body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: black;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-container{
    display: flex;
    padding-top: 20px;
    margin: 10px;
}
.card{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 25px rgba(0,0,0,0.3);
    }
.card::before{
    position: absolute;
    top: -10px;
    left: -10px;
    background: crimson;
    color: white;
    transform: rotate(-10deg);
    border-radius: 5px;
}
.i1{
    width: 150px;
    height: 130px;
    border-radius:  50%;
    border: red 2px solid;
}
h3{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.flashcard-container {
    display: flex;
    gap: 20px;
}
.flashcard{
    width: 200px;
    height: 100px;
    margin: 10px;
    perspective: 1000px;
}
.front, .back{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.8s;
}
.front{
    background-color: rgba(255, 157, 0, 0.779);
}
.back{
    background-color: lightblue;
    transform: rotateX(180deg);
}
.flashcard:hover .front{
    transform: rotateX(180deg);
}
.flashcard:hover .back{
    transform: rotateY(0);
}
.button-container {
    display: flex;
    gap: 30px;
    margin: 10px;
}
.button-a {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
}
.button-a:hover {
    background-color: #0d5410;
}
.button-b {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s;
}
.button-b:hover {
    background-color: #094252;
}
.gallery-container{
    display: flex;
    margin: 10px;
    gap: 20px;
    padding-bottom: 20px;
}
.gallery-item{
    width: 300px;
    height: 200px;
    overflow: hidden;
   border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

}
.r1{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}
.r1:hover {
    transform: scale(1.2) rotate(10deg);
}

